// CSS Reset
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-family: var(--gb-font-family);
    font-size: var(--gb-font-size-base);
    line-height: var(--gb-line-height);
    color: var(--gb-text-primary);
    background-color: var(--gb-bg-secondary);
}

a {
    color: var(--gb-primary);
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

button {
    font-family: inherit;
}

input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

img,
svg {
    display: block;
    max-width: 100%;
}

ul,
ol {
    list-style: none;
}

table {
    border-collapse: collapse;
}
